/* Estilos para la sección de problemas */

.desa p {
    font-family: Arial, sans-serif; /* Define la fuente del texto */
    text-align: justify; /* Justifica el texto */
    color: #34495e; /* Define el color del texto */
    font-size: 1.2em; /* Define el tamaño de la fuente */
    margin: 50px; /* Agrega margen */
    margin-top: 5px;
    margin-bottom: 15px;
    line-height: 1.6; /* Ajusta la altura de línea */
    padding: 10px; /* Agrega espacio interno */   
}

.desa img {
    display: block; /* Hace que la imagen sea un bloque */
    width: 80%; /* Ajusta el ancho */
    max-width: 500px; /* Define el tamaño máximo */
    border-radius: 10px; /* Redondea las esquinas */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Agrega una sombra */
    margin: 0 auto; /* Centra la imagen */
    margin-top: 15px;
}

.desa ul {
    font-family: Arial, sans-serif; /* Fuente */
    text-align: justify; /* Mejor alineación para listas */
    color: #2c3e50; /* Color más oscuro para mejor contraste */
    font-size: 1.2em; /* Ajusta ligeramente el tamaño */
    margin: 10px auto; /* Reduce el margen lateral y lo centra */
    padding: 15px; /* Agrega más espacio interno *
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra ligera */
    width: 80%; /* Controla el ancho */
    line-height: 1.6; /
}

/* Estilos para los elementos de la lista */
.desa ul li {
    margin-bottom: 8px; /* Espaciado entre elementos */
    padding-left: 15px; /* Desplazamiento para alineación */
    list-style: square; /* Cambia el tipo de viñeta */
}
