/* Estilos para la sección de historia */

.historia p {
    font-family: Arial, sans-serif; /* Define la fuente del texto */
    text-align: justify; /* Justifica el texto */
    color: #34495e; /* Define el color del texto */
    font-size: 1.2em; /* Define el tamaño de la fuente */
    margin: 50px; /* Agrega margen */
    margin-top: 5px;
    margin-bottom: 15px;
    line-height: 1.6; /* Ajusta la altura de línea */
    padding: 10px; /* Agrega espacio interno */
}
.historia img{
    display: block; /* Hace que la imagen sea un bloque */
    width: 80%; /* Ajusta el ancho */
    max-width: 500px; /* Define el tamaño máximo */
    border-radius: 10px; /* Redondea las esquinas */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Agrega una sombra */
    margin: 0 auto; /* Centra la imagen */
    margin-top: 15px;
}